* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode .container {
  background-color: #333;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  margin-left: 10px;
}

#result, #correctMessage {
  margin-top: 20px;
  font-size: 18px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body.dark-mode footer {
  background-color: #444;
}

/* Theme Toggle Button */
#themeToggle {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body.dark-mode #themeToggle {
  background-color: #444;
}
